{% extends 'base.html' %}
{% block title %}Crear Categoría{% endblock %}
{% block content %}
<div class="container mt-3">
  <h1>Crear Nueva Categoría</h1>
  <form method="post">
    <div class="mb-3">
      <label for="categoryname" class="form-label">Nombre</label>
      <input type="text" name="categoryname" id="categoryname" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Descripción</label>
      <textarea name="description" id="description" class="form-control" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-success">Guardar</button>
    <a href="{{ url_for('category.list') }}" class="btn btn-secondary">Volver</a>
  </form>
</div>
{% endblock %}
